---
layout: default
---

{% include header.html %}
{% include about.html %}
{% include tickets.html %}
{% include biographies.html %}
{% include map.html %}
{% include venues.html %}
{% include contact.html %}

<div id="outdated"></div>
<!-- JS -->
<script src="js/outdatedbrowser.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<script>
  // Plain Javascript
//event listener: DOM ready
function addLoadEvent(func) {
    var oldonload = window.onload;
    if (typeof window.onload != 'function') {
        window.onload = func;
    } else {
        window.onload = function() {
            if (oldonload) {
                oldonload();
            }
            func();
        }
    }
}
//call plugin function after DOM ready
addLoadEvent(function(){
    outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: 'your_path/outdatedbrowser/lang/en.html'
    })
});
</script>
