<span class="anchor" id="biographies__anchor"></span>
<section id="biographies">
  <div class="biographies__container container">
    <img class="biographies__container__img" src="imgs/folk_on_the_hill_biographies_ribbon.png" alt="Folk on the hill festival biographies">

    <div class="biographies__container__list">
      {% for biography in site.data.biographies %}
      <div class="biographies__container__list--item">
        <div class="biographies__container__list--item__cover" style="background-image: url({{ biography.cover_url }})"></div>
        <h2>{{ biography.name }}</h2>
        <p>{{ biography.desc }}</p>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
