<span class="anchor" id="venues__anchor"></span>
<section id="venues">
  <div class="venues__container container">
    <img class="venues__container__img" src="imgs/folk_on_the_hill_festival_venues.png" alt="Folk on the hill festival venues">

    <div class="venues__container__list">
      {% for venue in site.data.venues.venues %}
      <div class="venues__container__list--item">
        <div class="venues__container__list--item__cover" style="background-image: url({{ venue.cover_url }})">
        </div>

        <h2>{{ venue.name }}</h2>
        <p>{{ venue.desc }}</p>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
