#venues {
  @include flexbox;
  background-image: url("../imgs/folk_on_the_hill_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

.venues__container {
  @include flexbox;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;

  .venues__container__img {
    margin-bottom: 32px;
    max-height: 110px;
  }

  .venues__container__list {
    @include flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    .venues__container__list--item {
      text-align: center;
      width: 40%;

      h2 {
        margin-bottom: 16px;
      }
    }

    .venues__container__list--item:last-child {
      margin-bottom: 0;
    }

    .venues__container__list--item__cover {
      width: 100%;
      height: auto;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 16px;
    }
  }
}

// MEDIA
@media only screen and (max-width: 1200px) {
  .venues__container {
    img {
      height: 90px;
    }

    .venues__container__list {
      .venues__container__list--item {
        width: 45%;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .venues__container {
    .venues__container__list {
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    .venues__container__list {
      .venues__container__list--item {
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .venues__container {
    img {
      height: 80px;
    }

    .venues__container__list {
      .venues__container__list--item {
        h2,
        p {
          font-size: 1rem;
        }

        margin-bottom: 32px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .venues__container {
    padding-left: 16px;
    padding-right: 16px;

    .venues__container__list {
      .venues__container__list--item {
        h2,
        p {
          font-size: 0.75rem;
        }

        margin-bottom: 32px;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .venues__container {
    img {
      height: 60px;
    }
  }
}
